---
 const personalImageAlt = "Haiver Alexis"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Me llamo Haiver Hernández, pero algunos me dicen Alexis.
    Mi camino en la programación comenzó por curiosidad y ganas de crear cosas útiles.
    Desde entonces, no he parado de aprender.
    Me apasiona el desarrollo web porque me permite transformar ideas en soluciones reales.
    Aunque estoy empezando, ya he trabajado en proyectos con React, Node.js, MongoDB y más.
    <strong>Hoy sigo formándome y creciendo como desarrollador fullstack, con ganas de unirme a equipos donde pueda aprender, aportar y construir productos que marquen la diferencia.</strong>
  </p>
  
  <p>
    Uno de mis logros ha sido <strong>completar exitosamente proyectos personales que me han permitido aplicar mis conocimientos en la vida real</strong>.
  </p>
  
  <p>
    También comparto lo que aprendo con amigos y colegas, porque <strong>creo que crecer en comunidad es más poderoso que hacerlo solo</strong>.
    Mi objetivo es seguir mejorando día a día y encontrar oportunidades que me reten, me inspiren y me ayuden a convertirme en un gran desarrollador.
  </p>
  
  </div>

  <img width="220" height="220" src="/me2.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>


